In [18]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.linear_model import LinearRegression

In [19]:
data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df['target'] = data['target']

In [20]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [22]:
for name, grouped_df in df.groupby('target'):
    break

0

In [25]:
coefs = {}
for name, grouped_df in df.groupby('target'):
    X = grouped_df['sepal width (cm)'].values.reshape(-1, 1)
    y = grouped_df['petal length (cm)']
    reg = LinearRegression().fit(X, y)
    coefs[name] = reg.coef_[0]

In [26]:
coefs

{0: 0.08141120327235538, 1: 0.8393782383419687, 2: 0.686315293748283}

In [27]:
df.target.apply(lambda x: coefs[x])

0      0.081411
1      0.081411
2      0.081411
3      0.081411
4      0.081411
         ...
145    0.686315
146    0.686315
147    0.686315
148    0.686315
149    0.686315
Name: target, Length: 150, dtype: float64